@if(ViewBag.ErrorTitle == null)
{
    <h3> An error occured while processing your request </h3>
}
else
{
<h1 class="text-danger">@ViewBag.ErrorTile</h1>
<h6 class="text-danger">@ViewBag.ErrorMesaage</h6>
}




