<div class="text-danger">
    <h1 class="text-danger"> Access Denied</h1>
    <h6>You do not have Permission to view this resource</h6>
    <img src="~/images/no access.jpg" style="height:300px;width:300px"/>
</div>